<h1>松本ゼミ勤怠管理(admin)</h1>

<%= link_to 'kensaku', 'admin_find' %>
<%= link_to 'timeConfig', 'admin_time_config' %>
<%= link_to 'EditProfile', 'edit' %>
<%= link_to 'TOP', 'index' %><br>

新50
<p>
<% @adminUserinfo.each do |userinfo| %>
[name] <%= userinfo.name %>, [number] <%= userinfo.number%>,[time]<%= userinfo.time %><br />
<% end %>
</p>
旧 <br><br>


<br>

<% if user_signed_in? %>
          Logged in as <strong><%= current_user.name %></strong>.
          <%= link_to 'Change Email', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
