<h1>検索結果</h1>

<p>
[メールアドレス] <%= @resultUser.email %>, [名前] <%= @resultUser.name%>,[学生番号]<%= @resultUser.number%><br />
</p>
<br><br>
<table border="1">
<thead>
	<tr>
		<th>名前</th>
		<th>学生番号</th>
		<th>登録時間</th>
		<th>遅刻判定</th>
		<th>削除</th>
	</tr>
</thead>
<br>
<tbody>
<% @userinfoall.each do |userinfo| %>
	<tr>
 		<td><%= userinfo.name %></td>
 		<td><%= userinfo.number%></td>
 		<td><%= userinfo.time.strftime("%Y年%m月%d日 %H時%M分%S秒")%></td>
 		<td><%= userinfo.check %></td>
 		<td><%= button_to "削除", { :action => "destroy", :id => userinfo.id }, :confirm => "本当に削除しますか?", :method => :delete %></td>
 	</tr>
<% end %>
</tbody>
</table>
<p>
<%= link_to 'TOP', 'admin_index' %>
</p>