<h1>時間設定</h1>

<%= form_tag('admin_time_config_new', :method => :post) do %>
<%= select_tag 'youbi', options_for_select([["日", 0],["月",1],["火",2],["水",3],["木",4],["金",5],["土",6]]) %>
曜日


<%= select_tag 'koma', options_for_select([
	["1(9:00~10:30)", 1],
	["2(10:45~12:45)", 2],
	["3(13:15~14:45)", 3], 
	["4(15:00~16:30)", 4],
	["5(16:45~18:15)", 5], 
	["6(18:30~20:00)", 6]
]) %>
コマ(１０分前から登録できる)

<%= submit_tag "登録" %>
<% end %>

<p>

<table border="1">
<thead>
	<tr>
		<th>id</th>
		<th>曜日</th>
		<th>開始時</th>
		<th>開始分</th>
		<th>終了時</th>
		<th>終了分</th>
		<th>状態</th>
		<th>削除</th>
		
	</tr>
</thead>
<br>
<tbody>
<% @indexTimeConfig.each do |index| %>
	<tr>
		<td><%= index.id %></td>
 		<td><%= index.youbi %></td>
 		<td><%= index.check_hour%></td>
 		<td><%= index.check_minutes%></td>
 		<td><%= index.end_hour %></td>
 		<td><%= index.end_minitus %></td>
 		<td>
 			<% if index.activation == 0  then %>
 			<%= button_to "無効", { :action => "admin_time_config_active_on", :id => index.id }, :confirm => "有効化しますか？", :method => :put %>
 			<% else%>
 			<%= button_to "有効", { :action => "admin_time_config_active_off", :id => index.id }, :confirm => "無効化しますか？", :method => :put %>
 			<% end%>
 		</td>
 		<td><%= button_to "削除", { :action => "admin_time_config_destroy", :id => index.id }, :confirm => "本当に削除しますか?", :method => :delete %></td>
 	</tr>
<% end %>
</tbody>
</table>
</p>

<p>
<%= link_to 'TOP', 'admin_index' %>
</p>