<h1>松本ゼミ勤怠管理(管理者用)</h1>

<%= link_to '検索', 'admin_find' %>
<%= link_to '時間設定', 'admin_time_config' %>
<%= link_to 'EX時間設定', 'ex_admin_time_config' %>
<%= link_to 'プロフィール編集', 'edit' %>
<%= link_to '個人用へ', 'index' %><br>

<br>
<table border="1">
<thead>
	<tr>
		<th>名前</th>
		<th>学生番号</th>
		<th>登録時間</th>
		<th>遅刻判定</th>
		<th>削除</th>
		
	</tr>
</thead>
<br>
<tbody>
<%= paginate @adminUserinfo %>
<% @adminUserinfo.each do |userinfo| %>
	<tr>
 		<td><%= userinfo.name %></td>
 		<td><%= userinfo.number%></td>
 		<td><%= userinfo.time%></td>
 		<td><%= userinfo.check %></td>
 		<td><%= button_to "削除", { :action => "destroy", :id => userinfo.id }, :confirm => "本当に削除しますか?", :method => :delete %></td>
 	</tr>
<% end %>
</tbody>
</table>

<br>

<% if user_signed_in? %>
          Logged in as <strong><%= current_user.name %></strong>.
          <%= link_to 'メールアドレスの変更', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "ログイン", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
