<h1>EDIT</h1>

<p>
[email] <%= @editUser.email %>, [name] <%= @editUser.name%>,[number]<%= @editUser.number%><br />
</p>



<%= form_tag('update', :method => :post) do %>
name:
<%= text_field_tag("name", @editUser.name) %><br>
number:
<%= text_field_tag("number", @editUser.number) %><br>
<%= submit_tag "update" %>
<% end %>

<p>
<%= link_to 'TOP', 'index' %>
</p>