<h1>EDIT</h1>

<p>
[email] <%= @editUserinfo.email %>, [name] <%= @editUserinfo.name%>,[number]<%= @editUserinfo.number%><br />
</p>



<%= form_for(@user) do |u| %>
 <div class="field">
 	<%= u.label :na %><br>
 	<%= u.text_field :name %>
 </div>
 <div class="field">
 	<%= u.label :nu %><br>
     	<%= u.text_field :number %>
 </div>
 <div class="actions">
 	<%= u.submit %>
 </div>
 <%end %>

