<h1>EDIT</h1>

<p>
[email] <%= @editUserinfo.email %>, [name] <%= @editUserinfo.name%>,[number]<%= @editUserinfo.number%><br />
</p>



<%= form_tag('update', :method => :post) do %>
name:
<%= text_field_tag("name", @editUserinfo.name) %><br>
number:
<%= text_field_tag("number", @editUserinfo.number) %><br>
<%= submit_tag "update" %>
<% end %>

<p>
<%= link_to 'TOP', 'index' %>
</p>