<h1>プロフィール編集</h1>

<p>
[メールアドレス] <%= @editUser.email %>, [名前] <%= @editUser.name%>,[学生番号]<%= @editUser.number%><br />
</p>



<%= form_tag('update', :method => :post) do %>
name:
<%= text_field_tag("名前", @editUser.name) %><br>
number:
<%= text_field_tag("学生番号", @editUser.number) %><br>
<%= submit_tag "登録" %>
<% end %>

<p>
<%= link_to 'TOP', 'index' %>
</p>