<h1>松本ゼミ勤怠管理(personal)</h1>

新
<p>
<% @userinfo.each do |userinfo| %>
[name] <%= userinfo.name %>, [number] <%= userinfo.number%>,[time]<%= userinfo.time.strftime("%Y年%m月%d日 %H時%M分%S秒")%><%= $day.wday %><br />
<% end %>
</p>
旧 <br><br>

<%= link_to '登録', 'new' %>
<%= link_to 'EditProfile', 'edit' %>
<%= link_to 'rireki', 'index_all' %>
<%= link_to 'admin(test)', 'admin_index' %>
<br>

<% if user_signed_in? %>
          Logged in as <strong><%= current_user.name %></strong>.
          <%= link_to 'Change Email', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
