<h1>rireki</h1>

<% @userinfoall.each do |userinfo| %>
<%= userinfo.id %>[name] <%= userinfo.name %>, [number] <%= userinfo.number%>,[time]<%= userinfo.time.strftime("%Y年%m月%d日 %H時%M分%S秒")%><br />
<% end %>


<p>
<%= link_to 'TOP', 'index' %>
</p>